[submodule "app"]
  path = app
  url = https://github.com/DrewDahlman/shitty_news.git
[submodule "bin"]
  path = bin
  url = https://github.com/DrewDahlman/shitty_news.git
[submodule "fontend"]
  path = fontend
  url = https://github.com/DrewDahlman/shitty_news.git
[submodule "gulp"]
  path = gulp
  url = https://github.com/DrewDahlman/shitty_news.git
[submodule "test"]
  path = test
  url = https://github.com/DrewDahlman/shitty_news.git
[submodule "lib"]
  path = lib
  url = https://github.com/DrewDahlman/shitty_news.git
[submodule "test"]
  path = test
  url = https://github.com/DrewDahlman/shitty_news.git
[submodule "vendor"]
  path = vendor
  url = https://github.com/DrewDahlman/shitty_news.git